name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # Позволяет запускать вручную из GitHub

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'
        
    - name: Setup Android SDK
      uses: android-actions/setup-android@v2
      
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew assembleDebug
      
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: protivost-app
        path: app/build/outputs/apk/debug/app-debug.apk
        
    - name: Upload mapping file (optional)
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: mapping
        path: app/build/outputs/mapping/